 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

 * {
 	box-sizing: border-box;
 	margin: 0;
 	padding: 0;
 }

 body {
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	min-height: 100vh;
 	font-family: 'Lato', sans-serif;
 }

 .container {
 	padding: 2rem;
 	display: flex;
 	width: 55rem;
 	gap: 2rem;
 }

 .container-left,
 .transactions-list {
 	width: 50%;
 }

 .container-left {
 	border: 1px solid #bbb;
 	border-radius: 10px;
 	padding: 1rem;
 }

 h1 {
 	letter-spacing: 1px;
 	margin: 0;
 	color: #6853d4;
 }

 h3 {
 	border-bottom: 1px solid #bbb;
 }

 h4 {
 	margin: 0;
 	text-transform: uppercase;
 }

 .inc-exp-container {
 	background-color: #e2e0e0;
 	border-radius: 10px;
 	box-shadow: var(--box-shadow);
 	padding: 20px;
 	display: flex;
 	justify-content: space-between;
 	margin: 20px 0;
 }

 .inc-exp-container>div {
 	flex: 1;
 	text-align: center;
 }

 .inc-exp-container>div:first-of-type {
 	border-right: 1px solid #dedede;
 }

 .money {
 	font-size: 20px;
 	letter-spacing: 1px;
 	margin: 5px 0;
 }

 .money.plus {
 	color: #2ecc71;
 }

 .money.minus {
 	color: #c0392b;
 }

 label {
 	display: inline-block;
 	margin: 10px 0;
 }

 input[type='text'],
 input[type='number'] {
 	border: 1px solid #dedede;
 	border-radius: 10px;
 	outline: none;
 	display: block;
 	font-size: 16px;
 	padding: 10px;
 	width: 100%;
 }

 .btn {
 	cursor: pointer;
 	background-color: #6853d4;
 	box-shadow: var(--box-shadow);
 	border-radius: 10px;
 	color: #fff;
 	border: 0;
 	display: block;
 	font-size: 16px;
 	margin: 10px 0 30px;
 	padding: 10px;
 	width: 100%;
 }

 .btn:hover {
 	background-color: #7f6be2;
 }

 .btn:focus,
 .delete-btn:focus {
 	outline: 0;
 }

 .container-transactions {
 	list-style-type: none;
 	padding: 0;
 	margin-bottom: 40px;
 }

 .container-transactions li {
 	background-color: #e2e0e0;
 	width: 100%;
 	box-shadow: var(--box-shadow);
 	border-radius: 0 10px 10px 0;
 	color: #333;
 	display: flex;
 	justify-content: space-between;
 	position: sticky;
 	padding: 10px;
 	margin: 10px 0;
 }

 .container-transactions li.plus {
 	border-left: 8px solid #2ecc71;
 }

 .container-transactions li.minus {
 	border-left: 8px solid #c0392b;
 }

 .container-transactions span {
 	margin-right: 20px;
 }

 .delete-btn {
 	cursor: pointer;
 	background-color: #e74c3c;
 	border: 0;
 	border-radius: 0 10px 10px 0;
 	color: #fff;
 	font-size: 20px;
 	line-height: 20px;
 	height: 39px;
 	width: 25px;
 	position: absolute;
 	top: 50%;
 	right: -25px;
 	transform: translate(-100%, -50%);
 }